* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #F7CFD6;
  opacity: 0.6;
  margin: 0;
  line-height: 1.5;
  color: #FFFFFF;
  overflow: hidden; }

.navbar a:hover {
  text-decoration: none;
  color: #2febf1;
  transition: all 0.5s ease-out; }

.navbar .active {
  border-bottom: #2febf1 5px solid; }

.navbar .nav-font {
  margin: 0.3rem 1.9rem 0 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #F7CFD6;
  margin: 0;
  line-height: 1.5;
  color: #FFFFFF;
  overflow-x: hidden; }

img {
  width: 30%; }

#cakes {
  display: grid;
  grid-template-areas: 'cake1 cakepop2 cupcake3' 'cakepop1 cupcake1 cakepop3' 'cake2 cupecake2 cake3';
  grid-template-columns: repeat(3, 1fr); }
